*, *::before, *::after {
  box-sizing: border-box;
} 

.App {
  height: 100vh;
  overflow: hidden;
}

.feature-section {
  height: 100%;
  padding: 20px 100px 5px;
  position: relative;
}

.feature-section-content {
  height: 100%;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
}

.feature-section-title{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feature-section-title .explore {
  font-size: 18px;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.feature-section-title .dive-into {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.highlight {
  color: #1DA077;
}

.feature-section-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.feature-section-card div {
  border-radius: 15px;
  color: white;
  position: relative;
  padding: 20px;
  overflow: hidden;
}

.card-clarity{
  overflow: visible;
}

.card-clarity img {
  position: absolute;
  width: 250px;
  height: auto;
  left: -10px;
  bottom: -50px;
  z-index: 1;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  animation: float 3s ease-in-out infinite;
}

.card-mentor img {
  position: absolute;
  width: 300px;
  height: auto;
  left: -20px;
  bottom: -25px;
  z-index: 1;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  animation: float 3s ease-in-out infinite;
}

.card-learn img {
  position: absolute;
  width: 230px;
  height: auto;
  right: -20px;
  bottom: -120px;
  z-index: 1;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  animation: float 3s ease-in-out infinite;
}

.card-showcase img {
  position: absolute;
  width: 250px;
  height: auto;
  right: -10px;
  bottom: -20px;
  z-index: 1;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  animation: float 3s ease-in-out infinite;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px 0;
  font-family: 'Outfit', sans-serif;
}

.card-subtitle {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 15px 0;
  font-family: 'Outfit', sans-serif;
}

.card-clarity-text {
  width: 100%;
  background-color: #f45b5b;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 0;
  padding: 20px 20px 110px 20px;
}

.card-clarity-text p {
  width: 60%;
  text-align: end;
}

.card-learn {
  overflow: visible;
}


.card-learn-text {
  width: 100%;
  background-color: #5492a0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;
  padding: 20px 20px 110px 20px;
}

.card-learn-text p {
  width: 60%;
  text-align: start;
}

.card-mentor {
  overflow: visible;
}


.card-mentor-text {
  width: 100%;
  background-color: #6c64a8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 0;
  padding: 20px 20px 110px 20px;
}

.card-mentor-text p {
  width: 55%;
  text-align: end;
}

.card-showcase {
  overflow: visible;
}


.card-showcase-text {
  width: 100%;
  background-color: #a88964;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;
  padding: 20px 20px 110px 20px;
}

.card-showcase-text p {
  width: 60%;
  text-align: start;
}

/* keyframes for floating animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

